.appbar {
	height: $l;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
	background-color: darken($bg, 5%);
	nav {
		width: 100%;
		height: 100%;
		padding: 0 $s;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.logo {
		font-size: 2.4rem;
		height: 100%;
		display: flex;
		align-items: center;
		a {
			font-weight: $bolder;
			color: $primary;
		}
	}

	.searched {
		justify-self: flex-end;
		margin-left: auto;
		font-size: 1.6rem;
		a {
			color: $text;
		}
		span::after {
			content: "/";
			display: inline-block;
			margin: 0 $xs;
		}
  }
  
}
