.card {
	width: 100%;
	height: 220px;
	max-height: 220px;
	border: $border-light;
	border-radius: $rs;
	overflow: hidden;
	display: flex;
	.thumbnail {
		flex: 1;
		width: 50%;
		height: 100%;
    max-width: 160px;
    margin-right: $xs;
    background-color: $bg;
    border-right: $border-light;
    // control inner img properties
    img {
      object-fit: cover;
    }
	}

	.summary {
		flex: 1;
    margin: $s 0;
		padding: 0 $s;
    overflow: auto;
		.id,
		.title,
		.chapters,
		.favorites {
			display: flex;
			align-items: center;
			margin-bottom: $s;
			svg {
				margin-right: $xs;
			}
		}
		.id {
      font-size: 1.6rem;
      font-weight: $bolder;
      letter-spacing: $xsls;
		}
		.tags {
			display: flex;
			overflow: auto;
			.group {
				display: flex;
        align-items: center;
        .group-title {
          display: flex;
          align-items: center;
          margin-right: $xs;
          font-weight: $bolder;
        }
        .group-title svg {
          margin-right: $xs;
        }
      }
      .group:not(:last-child) {
        margin-right: $s;
      }
		}
	}
}
.card:not(:last-child) {
	margin-bottom: $s;
}

.card:last-child {
  margin-bottom: $l;
}
