.card {
    width: 100%;
    height: 220px;
    max-height: 220px;
    border-radius: $rs;
    overflow: hidden;
    display: flex;
    background-color: $bg-elevated;
    .thumbnail {
        flex: 1;
        height: 100%;
        max-width: 160px;
        margin-right: $xs;
        // control inner img properties
        img {
            object-fit: cover;
        }
    }

    .summary {
        flex: 1;
        margin: $s 0;
        padding: 0 $s;
        // overflow: auto;
        & > div {
            display: flex;
            align-items: center;
            margin-bottom: $xs;
            svg {
                margin-right: $xs;
                color: darken($text, 40%);
            }
        }
        .id {
            font-size: 1.6rem;
            color: $primary;
            font-weight: $bolder;
            letter-spacing: $xsls;
        }
        .artist {
            color: $primary;
        }
        .language {
            color: darken($text, 40%);
        }
    }
}
.card:not(:last-child) {
    margin-bottom: $s;
}

.card:last-child {
    margin-bottom: $l;
}
