#drawer {
    .drawer-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 80;
        background-color: rgba($bg, $alpha: 0.9);
    }
    .content {
        height: 100%;
        width: 70%;
        overflow: auto;
    }
}
