.menu {
    background-color: $bg-elevated;
    height: 100%;
    padding: $s;
    padding-top: $l + $s;
    display: flex;
    flex-direction: column;

    .links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: $m;

        a:not(:last-of-type) {
            margin-bottom: $s;
        }

        a {
            background-color: $primary;
            padding: $s;
            text-transform: uppercase;
            border-radius: $rs;
            color: $bg;
            font-weight: $bolder;
        }
    }

    section {
        margin-top: auto;
        // justify-self: flex-end;
        margin-bottom: $m;
    }

    .copyright {
        color: darken($text, 40%);
    }
}
