#modal {
    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 80;
        background-color: rgba($bg, $alpha: 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content {
        max-width: 80%;
        max-height: 80%;
        overflow: auto;
    }
}
