.loading,
.error {
    width: 100%;
    height: 100%;
    padding: $m;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .text {
        font-size: 2rem;
        letter-spacing: $xsls;
        align-self: center;
        color: $primary;
        font-weight: $bolder;
    }
}

.loading.fullscreen,
.error.fullscreen {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    position: fixed;
    background-color: $bg;
    .text {
        font-size: 2.4rem;
    }
    .message {
        margin-top: $xs;
        text-align: center;
        color: darken($text, 40%);
    }
}

.loading .text {
    animation: loading 1.2s ease-in-out infinite alternate;
}

@keyframes loading {
    0% {
        color: darken($text, 40%);
    }
    100% {
        color: $primary;
    }
}
