.related {
	padding: $s;
  padding-bottom: $m;
  min-height: 350px;
  border-bottom: $border-light;

	.title {
		font-size: 2rem;
		color: $primary;
		padding: $s 0;
		margin-bottom: $s;
	}

	.view {
		height: 100%;
		overflow: scroll;
		display: flex;

		.item {
      display: block;
      min-height: 260px;
			min-width: 160px;
			border-radius: $rs;
			overflow: hidden;
			border: $border-light;
			.thumbnail {
				max-height: 220px;
				border-bottom: $border-light;
				img {
					object-fit: cover;
				}
			}
			position: relative;
			.summary {
				font-weight: $bolder;
				letter-spacing: $xsls;
				display: flex;
				padding: $s;
				text-align: end;
        align-items: center;
        svg {
          margin-right: $xs;
        }
			}
		}
		.item:not(:last-child) {
			margin-right: $s;
		}
	}
}
