.searchbar {
	height: $l + $s;
	padding: 0 $s;
	padding-top: $s;

	form {
		width: 100%;
    height: 100%;
    position: relative;
	}

  .buttons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 100%;
    
    button{
      width: $l;
      padding: $s;
      border-left: $border-light;
    }
   

    svg {
      height: 1.6rem;
      width: 1.6rem;
    }
  }

	input {
		width: 100%;
		height: 100%;
		border: $border-light;
		border-radius: $rs;
		padding: $xs $s;
		color: $text;
    outline: none;
    font-size: 1.4rem;
    padding-right: 2*$l + $s;
	}
}
