.sorter {
  height: 40px;
  padding: $s;
  margin-top: 40px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .current {
    font-size: 2rem;
    color: $primary;
  }
}