.sorter {
    padding: $m;
    background-color: $bg-elevated;
    border-radius: $rs;

    .title {
        font-size: 2.4rem;
        color: $primary;
        margin-bottom: $m;
        text-align: center;
    }

    .options {
        display: flex;
        flex-direction: column;
        a {
            padding: $s;
        }
    }
}
