.tag {
  white-space: nowrap;
  padding: $xs $s;
  margin: $xs;
  border: $border-light;
  border-radius: $rs;
  display: block;
  .count::before {
    content: "";
    margin: 0 $s;
    display: inline;
    border-left: $border-light;
  }
}