:root {
    font-size: 10px;
}

body {
    background: $bg;
    font-family: $body;
    color: $text;
    font-size: 1.4rem;
}

a {
    color: $text;
    text-decoration: none;
    outline: none;
}

button,
input {
    background-color: $bg;
    border: none;
    color: $text;
    outline: none;
    padding: 0;
}

input::placeholder {
    color: darken($text, 40%);
}

.container {
    margin: 0 auto;
}
