*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 10px;
}

body {
	background-color: $bg;
	@include font;
}

button {
	all: unset;
	display: flex;
	align-items: center;
  justify-content: center;
  box-sizing: border-box;
	svg {
		width: 2.4rem;
		height: 2.4rem;
	}
}

a {
  text-decoration: none;
  color: $text;
}

input {
	background-color: $bg;
	border: none;
}
