@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
$jost: "Jost", sans-serif;

$body: $jost, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  
@mixin font(
	$size: 1.4rem,
	$family: $body,
	$weight: normal,
	$ls: normal,
	$lh: normal,
	$color: $text,
	$style: none,
	$transform: none
) {
	font-size: $size;
	font-family: $family;
	font-weight: $weight;
	letter-spacing: $ls;
	line-height: $lh;
	color: $color;
	text-transform: $transform;
}
