$xs: 5px;
$s: 10px;
$m: 20px;
$l: 40px;

$relxs: 0.5em;
$rels: 1em;
$relm: 2em;
$rell: 4em;

$bolder: 500;
$lighter: 300;

$xsls: 0.025em;

$rs: 5px;
$rc: 50%;
$border-light: 1px solid darken($text, 70%);
$backdrop: rgba($bg, 0.9);
