.doujins {
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;

    .view {
        // display: flex;
        // flex-direction: column;
        flex: 1;
        height: 100%;
        padding: 0 $s;
        overflow: auto;
        // background-color: $bg-deep;
    }
}
