.home {
    padding: $s;
    height: 100vh;

    .details,
    .controls {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .details {
        height: 20%;
    }

    .copyright {
        color: darken($text, 40%);
    }

    .logo {
        font-size: 4rem;
        font-weight: $bolder;
        color: $primary;
    }

    .controls {
        height: 80%;
    }

    #search {
        width: 80%;
        max-width: 600px;
        margin-bottom: $m;
        input {
            width: 100%;
            background-color: $bg-elevated;
            color: $text;
            padding: $s $l;
            border-radius: $rs;
            min-height: 30px;
            font-size: 2rem;
            text-align: center;
        }
    }

    .go,
    .bookmarks {
        width: 80%;
        max-width: 600px;
        background-color: $primary;
        padding: $s;
        border-radius: $rs;
        color: $bg;
        font-weight: $bolder;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $s;
    }
}
