.preview {
	.details {
		// height: 100vh;
		// width: 100vw;
		display: flex;
		flex-direction: column;

		.cover {
			position: relative;
			margin-top: $l;
			overflow: hidden;
			height: 260px;
			min-height: 260px;
			.bg {
				width: 100%;
				height: 100%;
				z-index: -10;
				img {
					object-fit: cover;
					filter: blur(8px);
				}
			}
			.main {
				position: absolute;
				top: 0;
				height: 100%;
				width: 100%;
				img {
					object-fit: contain;
				}
			}
		}

		.content-control {
			padding: $s;
			margin-bottom: $m;
			border-bottom: $border-light;
			.id {
				// color: darken($text, 50%);
				color: $primary;
				font-size: 2rem;
				font-weight: $bolder;
				letter-spacing: $xsls;
			}
		}

		.content-container {
			padding: 0 $s;
			border-bottom: $border-light;
			// overflow: auto;
			.content {
				display: flex;
				flex-direction: column;
				.titles {
					font-size: 1.6rem;
					line-height: 1.75;
					font-weight: $bolder;
					padding-bottom: $m;
					border-bottom: $border-light;
					margin-bottom: $s;
				}

				.favorites,
				.chapters,
				.date {
					display: flex;
					align-items: center;
					margin: $xs 0;
					svg {
						margin-right: $s;
					}
				}

				.tags {
					// margin: $s 0;
					margin-top: $s;
					padding: $m 0;
					border-top: $border-light;
					.group-title {
						margin-right: $s;
						font-weight: $bolder;
					}
					.group,
					.group-title,
					.tags-wrap {
						display: flex;
						align-items: center;
					}
					.tags-wrap {
						overflow: auto;
					}
				}
				//
			}
		}

		//
	}

	//
	.pages {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		padding: $m 0;
    background-color: $bg-depth;
		.page {
      position: relative;      
      border: $border-light;
			.pg-no {
				position: absolute;
				top: 0;
        right: 0;
        padding: $xs $s;
        margin: $xs;
        border-radius: $rs;
        font-size: 1.2rem;
        font-weight: $bolder;
        background-color: rgba($color: $bg, $alpha: 0.7);
        opacity: 0;
        transition: opacity 200ms ease-in-out;
      }
      &:hover .pg-no {
        opacity: 1;
      }
		}
	}
}
