@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  font-size: 10px;
}

body {
  background: #141215;
  font-family: "Jost", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #e7e7e7;
  font-size: 1.4rem;
}

a {
  color: #e7e7e7;
  text-decoration: none;
  outline: none;
}

button,
input {
  background-color: #141215;
  border: none;
  color: #e7e7e7;
  outline: none;
  padding: 0;
}

input::-webkit-input-placeholder {
  color: #818181;
}

input:-ms-input-placeholder {
  color: #818181;
}

input::-ms-input-placeholder {
  color: #818181;
}

input::placeholder {
  color: #818181;
}

.container {
  margin: 0 auto;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon.btn {
  font-size: 1.6rem;
}

#modal .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 80;
  background-color: rgba(20, 18, 21, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#modal .content {
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

#drawer .drawer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 80;
  background-color: rgba(20, 18, 21, 0.9);
}

#drawer .content {
  height: 100%;
  width: 70%;
  overflow: auto;
}

#image {
  width: 100%;
  height: 100%;
}

#image div,
#image img {
  width: 100%;
  height: 100%;
}

.navbar {
  height: 40px;
  background-color: #141215;
  position: -webkit-sticky;
  position: sticky;
  z-index: 40;
  top: 0;
}

.navbar nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar nav section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .menu-toggle {
  height: 100%;
  padding: 0 10px;
  background-color: #141215;
  font-size: 2.4rem;
}

.navbar .logo a {
  font-size: 2.4rem;
  font-weight: 500;
  color: #f2c76e;
  padding: 0 10px;
  display: block;
}

.menu {
  background-color: #19171a;
  height: 100%;
  padding: 10px;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.menu .links a:not(:last-of-type) {
  margin-bottom: 10px;
}

.menu .links a {
  background-color: #f2c76e;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 5px;
  color: #141215;
  font-weight: 500;
}

.menu section {
  margin-top: auto;
  margin-bottom: 20px;
}

.menu .copyright {
  color: #818181;
}

.card {
  width: 100%;
  height: 220px;
  max-height: 220px;
  border-radius: 5px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #19171a;
}

.card .thumbnail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  max-width: 160px;
  margin-right: 5px;
}

.card .thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
}

.card .summary {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px 0;
  padding: 0 10px;
}

.card .summary > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.card .summary > div svg {
  margin-right: 5px;
  color: #818181;
}

.card .summary .id {
  font-size: 1.6rem;
  color: #f2c76e;
  font-weight: 500;
  letter-spacing: 0.025em;
}

.card .summary .artist {
  color: #f2c76e;
}

.card .summary .language {
  color: #818181;
}

.card:not(:last-child) {
  margin-bottom: 10px;
}

.card:last-child {
  margin-bottom: 40px;
}

.controller {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  padding: 0 10px;
  background-color: #141215;
}

.controller .current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.controller .current .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

.controller .current .sort {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.controller .current .sort button {
  border-radius: 5px;
  font-size: 1.6rem;
  padding: 5px 10px;
  background-color: #19171a;
  color: #f2c76e;
}

.controller .current .sort button svg {
  margin-left: 5px;
}

.controller .current .pill {
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #19171a;
  border-radius: 5px;
  white-space: nowrap;
}

.controller .current .pill svg {
  color: #818181;
  margin-right: 5px;
}

.controller .current .pill:not(:last-of-type) {
  margin-right: 10px;
}

.paginator {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #141215;
  padding: 10px;
}

.paginator nav {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.paginator nav button,
.paginator nav div {
  padding: 0 10px;
  margin-left: 10px;
}

.paginator nav .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paginator nav button {
  height: 100%;
  background-color: #19171a;
  border-radius: 5px;
}

.sorter {
  padding: 20px;
  background-color: #19171a;
  border-radius: 5px;
}

.sorter .title {
  font-size: 2.4rem;
  color: #f2c76e;
  margin-bottom: 20px;
  text-align: center;
}

.sorter .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sorter .options a {
  padding: 10px;
}

.search {
  margin-bottom: 10px;
}

.search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search button {
  padding: 10px;
  margin-left: 10px;
}

.search button svg {
  height: 1.6rem;
  width: 1.6rem;
}

.search input {
  height: 40px;
  width: 100%;
  background-color: #19171a;
  border-radius: 5px;
  padding: 5px 10px;
}

.add-bookmark-dialog .category-select {
  margin-bottom: 10px;
  font-size: 1.6rem;
  color: #f2c76e;
}

.add-bookmark-dialog .category-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 300px;
  min-width: 200px;
  overflow: auto;
  margin-bottom: 20px;
}

.add-bookmark-dialog .category-options > div {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.add-bookmark-dialog .category-options > div svg {
  margin-left: 5px;
  color: #f2c76e;
}

.add-bookmark-dialog,
.remove-bookmark-dialog {
  padding: 20px;
  background-color: #19171a;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-bookmark-dialog button,
.remove-bookmark-dialog button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 5px 10px;
  background-color: #f2c76e;
  color: #141215;
  font-weight: 500;
  border-radius: 5px;
}

.add-bookmark-dialog button:disabled,
.remove-bookmark-dialog button:disabled {
  background-color: #141215;
  color: #818181;
}

.remove-bookmark-dialog {
  min-width: 300px;
}

.remove-bookmark-dialog .message {
  margin-bottom: 40px;
}

.remove-bookmark-dialog .message span {
  color: #f2c76e;
  letter-spacing: 0.025em;
  font-weight: 500;
}

.loading,
.error {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading .text,
.error .text {
  font-size: 2rem;
  letter-spacing: 0.025em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #f2c76e;
  font-weight: 500;
}

.loading.fullscreen,
.error.fullscreen {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  position: fixed;
  background-color: #141215;
}

.loading.fullscreen .text,
.error.fullscreen .text {
  font-size: 2.4rem;
}

.loading.fullscreen .message,
.error.fullscreen .message {
  margin-top: 5px;
  text-align: center;
  color: #818181;
}

.loading .text {
  -webkit-animation: loading 1.2s ease-in-out infinite alternate;
          animation: loading 1.2s ease-in-out infinite alternate;
}

@-webkit-keyframes loading {
  0% {
    color: #818181;
  }
  100% {
    color: #f2c76e;
  }
}

@keyframes loading {
  0% {
    color: #818181;
  }
  100% {
    color: #f2c76e;
  }
}

.home {
  padding: 10px;
  height: 100vh;
}

.home .details,
.home .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .details {
  height: 20%;
}

.home .copyright {
  color: #818181;
}

.home .logo {
  font-size: 4rem;
  font-weight: 500;
  color: #f2c76e;
}

.home .controls {
  height: 80%;
}

.home #search {
  width: 80%;
  max-width: 600px;
  margin-bottom: 20px;
}

.home #search input {
  width: 100%;
  background-color: #19171a;
  color: #e7e7e7;
  padding: 10px 40px;
  border-radius: 5px;
  min-height: 30px;
  font-size: 2rem;
  text-align: center;
}

.home .go,
.home .bookmarks {
  width: 80%;
  max-width: 600px;
  background-color: #f2c76e;
  padding: 10px;
  border-radius: 5px;
  color: #141215;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.doujins {
  height: calc(100vh - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.doujins .view {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  padding: 0 10px;
  overflow: auto;
}

.doujin .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.doujin .details .cover {
  position: relative;
  overflow: hidden;
  height: 40vh;
  min-height: 260px;
  margin-bottom: 20px;
}

.doujin .details .cover .bg {
  width: 100%;
  height: 100%;
  z-index: -10;
  background-color: #141215;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

.doujin .details .cover .main {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.doujin .details .cover .main img {
  -o-object-fit: contain;
     object-fit: contain;
}

.doujin .details .controls {
  padding: 0 10px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.doujin .details .bookmark-status {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f2c76e;
  color: #141215;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.doujin .details .bookmark-status .message {
  font-weight: 500;
}

.doujin .details .bookmark-status button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 10px;
  background-color: #19171a;
  font-size: 1.6rem;
  padding: 5px;
  border-radius: 5px;
}

.doujin .details .id {
  color: #f2c76e;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.025em;
}

.doujin .details .bookmark {
  margin-left: 10px;
  font-size: 2.4rem;
  height: 30px;
  width: 50px;
  color: #f2c76e;
  background-color: #19171a;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.doujin .details .titles {
  padding: 0 10px;
  margin-bottom: 20px;
  font-size: 1.6rem;
}

.doujin .details .titles div {
  margin-bottom: 5px;
}

.doujin .details .favorites,
.doujin .details .chapters,
.doujin .details .date {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.doujin .details .favorites svg,
.doujin .details .chapters svg,
.doujin .details .date svg {
  margin-right: 10px;
  color: #818181;
}

.doujin .details .tags {
  padding: 10px;
}

.doujin .details .tags .group-title {
  margin-right: 10px;
  color: #f2c76e;
}

.doujin .details .tags .group,
.doujin .details .tags .group-title,
.doujin .details .tags .tags-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.doujin .details .tags .tags-wrap {
  overflow: auto;
}

.doujin .pages {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
  padding-bottom: 60px;
}

.doujin .pages .page {
  position: relative;
  background-color: #19171a;
}

.doujin .pages .page .pg-no {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: rgba(20, 18, 21, 0.7);
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.doujin .pages .page:hover .pg-no {
  opacity: 1;
}

.tag {
  white-space: nowrap;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #19171a;
  display: block;
}

.tag .count {
  margin-left: 5px;
  color: #818181;
}

.scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll button {
  padding: 10px;
  font-size: 1.6rem;
  background-color: #19171a;
}

.scroll .top {
  color: #f2c76e;
}

.bookmarks {
  padding: 0 10px;
}

.bookmarks .grid {
  display: -ms-grid;
  display: grid;
  gap: 5px;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.bookmarks .bookmark {
  border-radius: 5px;
  overflow: hidden;
  background-color: #19171a;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bookmarks .bookmark .details {
  padding: 5px;
}

.bookmarks .bookmark .details .id {
  font-size: 1.6rem;
  color: #f2c76e;
  font-weight: 500;
  letter-spacing: 0.025em;
}

.bookmarks .bookmark .details .category {
  color: #818181;
}

.bookmarks .bookmark .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.bookmarks .bookmark .controls button {
  font-size: 1.6rem;
  padding: 5px;
  margin-left: 5px;
  background-color: #19171a;
  color: #f2c76e;
}
/*# sourceMappingURL=main.css.map */