@import './shared/colors';
@import './shared/typography';
@import './shared/variables';
@import './shared/base';

@import './screens/home';

@import './components/view';
@import './components/card';
@import './components/image';
@import './components/tag';
@import './components/select';
@import './components/appbar';
@import './components/placeholders';
